body{
    background: rgb(24, 24, 24); 
}

*{
    margin: 0;
    padding: 0;
}

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.button{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    background: rgba(7, 123, 177, 0.767);
    color: white;
    border: none;
    transition: 0.1s;
}
.button:hover{
    background: rgba(4, 85, 122, 0.767);
}

.textview{
    width: 205px;
    margin: 5px;
    font-size: 25px;
    padding: 5px;
    border: none;
    box-shadow: 1px 0.5px 1px 0.5px rgba(7, 123, 177, 0.767);
    background: rgb(245, 236, 226);
    color: rgba(39, 37, 37, 0.842);
    transition: 0.1s;
}
.textview:hover{
    background: rgb(248, 228, 204);
}

#zero-button{
    width: 106px;
}

#equal-to-button{
    height: 106px;;
}